div.container{
  width: fit-content;
}
header{
  text-align: center;
}
main{
  padding: 40px;
  display: flex;
  flex-flow: row wrap;
  margin: 30px;
}
.dataArea{
  position : relative;
  padding: 20px;
  display: flex;
  flex-flow: column nowrap;
}

.dataArea button{
  display: inline-block;
  margin-left: 5px;
}

.user{
  display: flex;
  align-items: center;
  justify-content: right;
}

.user img{
  margin-left : 10px;
}

.trending{
  color: green;
  text-align: center;

  width: 100px;
  border: 1px solid green;
  border-radius: 15px;
  position: absolute;
  top : -30px;

}


